<div class="row">
  <%= link_to(task) do %>
  <div class="col-md-10 well-middle col-md-offset-1">
    <h1><%= task.name %> <em>for</em></h1>
    <h2><%= task.sponsor.company.name %></h2>
  </div>
  <% end %>

</div>