<div class="omnis col-md-4 see-me">
  <%= render partial: 'leftbar' %>
</div><!-- omni 4 -->

<% unless user_signed_in? %>
  <div class="col-md-8 sign-up">
  <h1 class="text-center">Sign Up</h1>
  <%= render 'registrations/new' %>
</div>
<% end %>