<div class="omnis col-md-4 see-me">
  <%= render partial: 'authentications/leftbar' %>
</div><!-- omni 4 -->

<% if user_signed_in? %>
  <div class="col-md-8 edit-user">
  <h1 class="text-center">Edit User</h1>
  <%= render partial: 'edit' %>
</div>
<% end %>