<div class="row">
  <div class="col-xs-12 see-me">
    <h1>This is the homepage</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div><!-- /row -->
<div class="row">
  <div class="banner col-xs-12">


  </div>
</div><!-- /row -->

<div class="row">
  <div class="non-profits col-md-3 well">
    <h1 class="text-center main-heading">Non Profits</h1>
    <div class="view-window">
      <%= render partial: "business", collection: @non_profits, as: :business %>
    </div>
    <div class="create-new non-profit col-md-3">
      <i class="fa fa-plus-circle fa-4x"></i>
    </div>
  </div><!-- non-profits -->

  <div class="tasks col-md-6">
    <h1 class="text-center main-heading">Tasks</h1>
    <div class="view-window">
      <%= render partial: "task/singletask", collection: @tasks, as: :task %>
    </div>
    <div class="create-new task see-me">
    </div>
  </div><!-- tasks -->

  <div class="corporates col-md-3 well">
    <h1 class="text-center main-heading">Companies</h1>
    <div class="view-window">
      <%= render partial: "business", collection:@companies, as: :business %>
    </div>
    <div class="create-new corporate see-me">
    </div>
  </div><!-- corporates -->
</div><!-- /row -->


