<div class="row">
  <div class="col-xs-12">
    <h1>This is the homepage</h1>
  </div>
</div><!-- /row -->
<div class="row">
  <div class="banner col-xs-12">


  </div>
</div><!-- /row -->

<div class="row">
  <div class="non-profits col-md-3 well">
    <h1>This is where the non profits go</h1>
    <%= render partial: "business", collection: @non_profits, as: :business %>
  </div><!-- non-profits -->

  <div class="tasks col-md-6">
    <h1>This is where the tasks will go</h1>
    <%= render partial: "task/singletask", collection: @tasks, as: :task %>
  </div><!-- tasks -->

  <div class="corporates col-md-3 well">
    <h1>This is where the corporations go</h1>
    <%= render partial: "business", collection:@companies, as: :business %>
  </div><!-- corporates -->
</div><!-- /row -->

