// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.authenticated {
  color: purple;

  .well {
  background: #7e982e;
  border: 2px solid #da8a21;
  }

}